<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="./img/weather.png" />
        <!-- href may contain the relative path (if it starts with ./) or the absolute path to the file (if it starts with /, which will point to the directory public) -->
        <link rel="stylesheet" href="./css/styles.css"/>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p> {{ message }} </p>
        </div>
        {{>footer}}
    </body>
</html>